img.c_movies
{
width:80px;
height:28px;
background-position: 0 -28px;
}
img.c_doc
{
width:80px;
height:28px;
background-position: 0 -28px;
}
img.c_anime
{
width:80px;
height:28px;
background-position: 0 -28px;
}
img.c_tvseries
{
width:80px;
height:28px;
background-position: 0 -28px;
}
img.c_tvshows
{
width:80px;
height:28px;
background-position: 0 -28px;
}
img.c_mv
{
width:80px;
height:28px;
background-position: 0 -28px;
}
img.c_photo
{
width:80px;
height:28px;
background-position: 0 -28px;
}
img.c_misc
{
width:80px;
height:28px;
background-position: 0 -28px;
}
img.c_hqaudio
{
width:80px;
height:28px;
background-position: 0 -28px;
}
img.app_game
{
width:80px;
height:28px;
background-position: 0 -28px;
}
img.app_app
{
width:80px;
height:28px;
background-position: 0 -28px;
}
